body {
    margin-top:0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.header{
    margin:0px;
    height:135px;
    position:fixed;
    background-color:#fff;
    width:100%;
}
.content{
    padding:145px 20px 20px;
}
#rule-general, #rule-design,#rule-desktop, #rule-saas {
    /*display: none;*/
    max-width:1280px;
    margin:10px auto;
}

.menu {
    max-width:1280px;
    margin: 0px auto;
    text-align: center;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding: 12px;
}

.active{
    background-color:#ff6a00;
}
.sub-menu {
    /*float: left;*/
    margin: 0px 10px;
    border: 1px solid #ccc;
    padding: 4px 10px;
    text-transform: uppercase;
}

    .sub-menu:hover {
        background-color: #ff6a00;
        cursor: pointer;
    }

    .sub-menu:visited {
        background-color: #00ff21;
    }
